.page-header
  = link_to suggest_relationships_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_suggest_relationship_path(@suggest_relationship), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show workgroup
%dl.dl-horizontal
  %dt Entity instance to:
  %dd= @suggest_relationship.entity_instance_to
  %dt Entity instance from:
  %dd= @suggest_relationship.entity_instance_from
  %dt Relationship type:
  %dd= @suggest_relationship.relationship_type
  %dt Url:
  %dd= @suggest_relationship.url